{% render 'partials/head.liquid', title: 'Squad page' %}
  
<main>
  <h1>Choose Your Character</h1>
  <a href="/age">
    <button>Level High to Low</button>
  </a>

  <a href="/az">
    <button>Name Z/A</button>
  </a>

  <section class="character-card-container">

      {% for person in persons %}
        <section class="character-card">

          <img class="profile-photo" src="img/{{person.id}}.jpg" alt="{{person.name}}">
             {% comment %} <img src="{{person.avatar}}" alt="{{person.name}}"> {% endcomment %}
          
          <section class="info">
            <h2>{{ person.name }} - {{person.id}}</h2>
            <h3><span id="level"> {{ person.birthdate }} </span></h3>
          </section>

          <section class="skilss">
            <h3>Skilss:</h3>
            <h4>{{ person.fav_property | escape}}</h4>
            <h4>{{ person.fav_tag | escape}}</h4>
            <h4>{{ person.fav_attribute | escape}}</h4>
            <h4>{{ person.fav_feature | escape}}</h4>
          </section>

        </section>
      {% endfor %}

  </section>

</main>

{% render 'partials/foot.liquid', squads: squads %}